<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <nav>
        <a href="../dash">DASHBOARD</a>
        <a href="./showMy">MY CLIENTS</a>
    <a href="./new">ADD CLIENT</a>
        <a href="/logout">LOG OUT</a>
        </nav>
      <% } else { %>
        <nav>
        <a href="/auth/google" class="login">LOGIN</a>
        </nav>
      <% } %>

    <h1 class="title">My Clients</h1>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
    <% client.forEach(c => { %>
            <tbody>
                <tr>
                <td><%= c.name %></td>  
                <td><%= c.email %> </td>
                <td><%= c.phone %></td>
                <td><a href="/clients/<%= c.id %>">Details</a></td>
                <td><a href="/clients/<%= c.id %>/edit">Edit</a></td>
                <td><form action="/clients/<%= c.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form></td>
                </tr>
        <% }); %> 
    </tbody>
    </table>
</body>
</html>